<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>

  <%- include('partials/header.ejs') %>

  
  <h1> <%= title %> </h1>

  <h2>Aplicação que usa Node.JS com o Framework Express.JS, salva os dados no banco de dados MongoDB, além de usar CSS e JS puro.</h2>

  <h3> <span>Como usar:</span>Use a rota de cadastro de cliente(que será salvo no banco de dados) e depois consulte na rota listagem de clientes, onde você poderá editar e excluir.</h3>
  
  <%- include('partials/footer.ejs') %>

  <%- include('partials/foot.ejs') %>
  
</body>
</html>