<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  
  
  <%- include('partials/header.ejs') %>
  
  <% if(typeof editado !== 'undefined'){ %>
    <span class="message">Cliente editado com sucesso!</span>
  <% } %>
  
  <h1> <%= title %> </h1>
  
  <% if (clients.length === 0) { %>
    <span class="no-client">Nenhum cliente cadastrado.</span>
  <% } %>

  <ul class="list-clients">
  <% clients.forEach((elemento)=>{ %>
      <li class="clients">
        <span>Nome: <%= elemento.name %></span>
        <span>Idade: <%= elemento.age %></span>
        <span>Email: <%= elemento.email %></span>
        <span><a href="/edit?id=<%= elemento._id %>">[Editar]</a></span>
        <span><a href="/remove?id=<%= elemento._id %>">[Apagar]</a></span>
      </li>
  <% }) %>

  </ul>

  <%- include('partials/footer.ejs') %>


  <%- include('partials/foot.ejs') %>
  
</body>
</html>