<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>

  <%- include('partials/header.ejs') %>

  <% if(typeof cadastrado !== 'undefined'){ %>
    <span class="message">Cadastro realizado com sucesso!</span>
  <% } %>
  
  <h1> <%= title %> </h1>

  <form action="/register/add" method="POST">
    <div>
      <label>Nome</label>
      <input type="text" name="name" placeholder="Digite o seu nome">
    </div>

    <div>
      <label>Idade</label>
      <input type="text" name="age" placeholder="Digite a sua idade">
    </div>

    <div>
      <label>E-mail</label>
      <input type="text" name="email" placeholder="Digite o seu email">
    </div>

    <div>
      <label>Senha</label>
      <input type="password" name="password" placeholder="Digite a sua senha">
    </div>

    <button type="submit">Cadastrar</button>
  </form>

  <%- include('partials/footer.ejs') %>

  <%- include('partials/foot.ejs') %>
  
</body>
</html>